.vscode/**
.vscode-test/**
.github/**
docs/**
out/test/**
src/**
.gitignore
.git-blame-ignore-revs
bun.lock
vsc-extension-quickstart.md
**/tsconfig.json
**/.oxlintrc.json
**/.oxfmtrc.json
**/*.map
**/*.ts
